# Week 12 - Assessed exercises

This week we learnt some advanced data manipulation methods, about APIs and about webscraping. In this last set of assessed exercises you must complete the Brightspace quiz 'W12 - Assessed exercises' and submit a .py file with the  code you used to answer the questions in your quiz. Each question is work 0.5 marks and it is either correct (full marks) or incorrect (0 marks).

This template file contains code that will help you answer the questions in the quiz.

In [1]:
# Q1 and Q2 are based on the advanced data manipulation section. You will need to 
# use the titantic dataset which is part of the seaborn package and can be loaded
# using the following commands
import seaborn as sb
titanic = sb.load_dataset('titanic')
# The questions involve using the groupby function and applying functions to that
# grouped object. For questins involving the interquartile range, use the function
# from lecture_12_code.py

### Question 1: In the titanic dataset, how many male first class passengers (pclass=1) didn't survive (survived=0)?

In [5]:
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [14]:
len(titanic.index[(titanic['pclass'] == 1)&(titanic['sex'] == 'male')&(titanic['survived']==0)].tolist())

77

In [11]:
#check for above

x_c = titanic.index[titanic['pclass'] == 1].tolist()
x_m = titanic.index[titanic['sex'] == 'male'].tolist()

x = list(set(x_c).intersection(set(x_m)))

len(x)-titanic['survived'][x].sum()

77

### Question 2: In the titanic dataset, how many of the female second class passengers (pclass=2) didn't survive (survived=0)?

In [16]:
len(titanic.index[(titanic['pclass'] == 2)&(titanic['sex'] == 'female')&(titanic['survived']==0)].tolist())

6

### Question 3: In the titanic dataset, what is the interquartile range for the age of female third class passengers (class=3) who didn't survive (survived=0)? (round to nearest whole number)

In [26]:
x = titanic.index[(titanic['pclass'] == 3)&(titanic['sex'] == 'female')&(titanic['survived']==0)].tolist()
Q1 = titanic['age'][x].quantile(0.25)
Q3 = titanic['age'][x].quantile(0.75)
IQR = round(Q3 - Q1,0)
IQR

16.0

In [ ]:
# Q3 to Q5 relate to the World Bank API. You will be asked to search of indicator
# and country codes in Q3 and Q4. In Q5 you will need to extract data from the 
# the World Bank for a particular indicator, country and year

In [31]:
pip install wbdata

Collecting wbdata
  Downloading https://files.pythonhosted.org/packages/d8/a0/c83a8cb001885685f8344f4a6d3557ec3de73d367aea82dbb519aa6d2706/wbdata-0.2.7.tar.gz
Requirement already satisfied: decorator in /Applications/anaconda3/lib/python3.7/site-packages (from wbdata) (4.4.0)
Building wheels for collected packages: wbdata
  Building wheel for wbdata (setup.py) ... done
  Created wheel for wbdata: filename=wbdata-0.2.7-cp37-none-any.whl size=15714 sha256=6937f33df6489dd4cca1de6534e61c0585539c4095fd9a81b7fbfc2e1d735952
  Stored in directory: /Users/joshward/Library/Caches/pip/wheels/57/61/6a/3978e90cf2f9443b94ce56b4fa839850da9076e697be3a27e3
Successfully built wbdata
Installing collected packages: wbdata
Successfully installed wbdata-0.2.7
Note: you may need to restart the kernel to use updated packages.

In [32]:
import wbdata as wbd

### Question 4: In the World Bank data, what is the country code for Indonesia?

In [43]:
wbd.search_countries('Indonesia')

IDN	Indonesia

In [147]:
wbd.search_countries('Switzerland')

CHE	Switzerland

### Question 5: From the World Bank data, what are the taxes on income, profits and capital gains, as a % of revenue, for the Switzerland in 2017? (round to nearest whole number)

In [163]:
wbd.search_indicators('taxes on income, profits and capital gains')

GB.TAX.YPKG.RV.ZS	Taxes on income, profits and capital gains (% of current revenue)
GB.TAX.YPKG.ZS   	Taxes on income, profits and capital gains (% of total taxes)
GC.TAX.YPKG.CN   	Taxes on income, profits and capital gains (current LCU)
GC.TAX.YPKG.RV.ZS	Taxes on income, profits and capital gains (% of revenue)
GC.TAX.YPKG.ZS   	Taxes on income, profits and capital gains (% of total taxes)

In [164]:
wbd.search_countries('Switzerland')

CHE	Switzerland

In [165]:
indicator = {'GC.TAX.YPKG.RV.ZS':'Taxes on income, profits and capital gains (% of revenue)'}
country = ['CHE']

data1 = wbd.get_dataframe(indicator,country)
round(data1.loc['2017'],0)

Taxes on income, profits and capital gains (% of revenue)    25.0
Name: 2017, dtype: float64

In [29]:
# Q6 to Q8 relate to webscraping and uses the Spotify weekly charts. You will need
# to import BeautifulSoup and the requests package
from bs4 import BeautifulSoup
import requests
# The below code loads the data from the Spotify weekly charts for the week
# 2017-06-30 to 2017-07-07, and uses BeautifulSoup to parse the html.
spotify = requests.get('https://spotifycharts.com/regional/global/weekly/2017-06-30--2017-07-07')
soup = BeautifulSoup(spotify.text, "html.parser")

# The following commands extract the information related to the tracks and removes
# the html tags
track = soup.find_all('td',class_="chart-table-track")
tracks = [x.text.strip() for x in track]
# Q6 asks you to search through tracks to find the number of times a particular
# arist appears in this weekly chart

# The following commands extract the information related to the number of plays,
# removes the html tags and commas, and converts the value to an integers
play = soup.find_all('td',class_="chart-table-streams")
plays = [int(x.text.strip().replace(',', '')) for x in play]
# Q7 asks you to perform some statistical analysis on these numbers

# Q8 asks you to load the charts for a different week and determine how many of
# the songs from the original week 2017-06-30 to 2017-07-07 are still in the 
# charts at this later week. To load in the data for the new week, change the
# date range in the url to the date range specified in your question.

### Question 6: How many times did Drake appear in the 2017-06-30 to 2017-07-07 Spotify charts?

In [126]:
len([s for s in tracks if "Drake" in s])

6

### Question 7: How many of the songs in the 2017-06-30 to 2017-07-07 Spotify chart have more than 10 million plays?

In [168]:
counter = []
len([counter.append(i) for i in range(len(plays)) if plays[i] > 10000000])

46

In [172]:
#check
counter = 0
for i in plays:
    if i > 10000000:
        counter += 1
counter

46

### Question 8: How many of the songs from the week 2017-06-30 to 2017-07-07 are still in the charts in the week 2018-06-29 to 2018-07-06?

In [175]:
spotify2 = requests.get('https://spotifycharts.com/regional/global/weekly/2018-06-29--2018-07-06')
soup2 = BeautifulSoup(spotify2.text, "html.parser")
track2 = soup2.find_all('td',class_="chart-table-track")
tracks2 = [x.text.strip() for x in track2]

In [176]:
len(list(set(tracks).intersection(set(tracks2))))

24